*{
    box-sizing: border-box;
}
.grid-container{
    display:grid;
    grid-template-areas:
    "H2Block"
    "main-content";
    gap: 10px;
}
h1{
    padding-top: 130px;
    text-align: center;
    color: #1FECFF;
    font-family: "covered by your grace", cursive;
}
h2{
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: teal;
    text-align: center;
    height: 50px;
    padding-top: 10px;
}

.header{
    margin: 30px auto 20px;
    height: 300px;
    /*background-color: #C80909;*/
    background-image: url(./pexels-jacobyavin-4085266.jpg);
    background-size: cover;

}

body{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background-color:orangered;
    opacity: 75%;
}

#H2Block{
    grid-area: H2Block;
    margin: 0 auto;
    height:300px;
    width:800px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: teal;
}

#H2Image{
    float: left;
    width: 200px;
    height: 268px;
    border: 1px solid transparent;
    border-radius: 30px;
    margin-top: 16px;
    margin-left: 50px;
}

#H2Text{
    float: right;
    width: 400px;
    height:160px;
    margin-top: 70px;
    margin-right: 50px;

}

.about-main{
    grid-area: about-main;
    margin: 0;
    height:100%;
    width:auto;


}

.about_coffee_txt{
    margin-left:200px;
    width: 500px;
    height: auto;
    float: left;
}

.about_coffee_img{
    margin-right:200px;
    float: right;
}

/*@media screen and (max-width: 600px) {*/
/*    body {*/
/*        background-color: lightblue;*/
/*    }*/
/*}*/
@media (min-width: 1000px) {
    .header {
        grid-area: 1 / span 6;
    }

    .h2Block {
        grid-area: 2 / span 1;
    }

    .about-main {
        grid-area: 3 / span 4;
    }
}