
h1 {
    padding-top: 130px;
    text-align: center;
    color: #1FECFF;
    font-family: "covered by your grace", cursive;
}

h2 {
    display: block;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: teal;
    text-align: center;
    height: 50px;
    padding-top: 12px;
}

.header {
    margin: 30px auto 20px;
    height: 300px;
    background-image: url(./pexels-jacobyavin-4085266.jpg);
    background-size: cover;
}

body {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background-color:#803a09;
    opacity: 75%;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    /*box-sizing: border-box;*/
    /*height: 70px;*/
    background-color: teal;
    border-radius: 15px;
    justify-content: center;
}

.top nav ul {
    align-items: center;
    height: 70px;
    width: 120px;
}

.top-nav li {
    padding-top: 24px;
    text-align: center;
    height: 50px;
    width: 120px;
    list-style:none;
}

.top-nav a {
    text-decoration: none;

    width: 120px;
    color: black;
}

.top-nav li:hover {
    background-color: #803a09;
    height: 50px;
    width: 120px;
}

#intro-main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width:800px;
    height:300px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: teal;
}

#intro-image {
    position: absolute;
    order: 1;
    flex-shrink: 1;
    width: 200px;
    height: 268px;
    border: 1px solid transparent;
    border-radius: 30px;
    top: 16px;
    left: 50px;
}

#intro-text {
    position: absolute;
    order: 2;
    width: 400px;
    height:160px;
    top: 50px;
    right: 50px;
}

.about-main {
    margin: 10px auto 550px;
    height: auto;
    width:auto;
}

.about_coffee_txt {
    display: inline;
    margin-left:10%;
    width: 500px;
    height: auto;
    float: left;
}

.about-img {
    display: inline;
    margin-left:3em;
    margin-right:3em;
    margin-bottom: 5%;
    width: 200px;
    height:auto;
    float: left;
}

.about_coffee_img {
    display: inline;
    margin-right:10%;
    float: right;
}

