
body{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background-color:#803a09;
    opacity: 75%;
}

header{
    margin: 30px auto 20px;
    height: 300px;
    background-image: url(./pexels-jacobyavin-4085266.jpg);
    background-size: cover;
    border-radius: 30px;
}

h1{
    padding-top: 15%;
    font-size: 3rem;
    color: #1FECFF;
    font-family: "covered by your grace", cursive;
}

.coffee {
    width: 300px;
    height: 50%px;
    border: 1px solid transparent;
    border-radius: 30px;
    transform: rotate(90deg);
}

.row p {
    color: black;
}

.col p {
    color: black;
}

.img-spec {
    /*width:282px;*/
    /*height: 193px;*/
    height: 25%;
    /*margin-bottom: 12rem;*/
}

.img-spec img {
    height: 25%;
}
.par {
    height: 65%;
}

.div-pad {
    padding-bottom: 150px;
}
/*h2{*/
/*    display: block;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 50%;*/
/*    background-color: teal;*/
/*    text-align: center;*/
/*    height: 50px;*/
/*    padding-top: 12px;*/
/*}*/





.header-2 {
    /*margin: 0 auto;*/
    /*height:300px;*/
    /*width:800px;*/
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: teal;
}

a img {
    border-radius: 30px;
    width: 100%;
    height: auto;
}
/*.header-2 img {*/
/*    border-radius: 30px;*/
/*    width: 200px;*/
/*}*/

/*.about-main{*/
/*    margin: 10px auto 550px;*/
/*    height: auto;*/
/*    width:auto;*/
/*}*/

/*.about_coffee_txt{*/
/*    display: inline;*/
/*    margin-left:10%;*/
/*    width: 500px;*/
/*    height: auto;*/
/*    float: left;*/
/*}*/

/*.about-img{*/
/*    display: inline;*/
/*    margin-left:3em;*/
/*    margin-right:3em;*/
/*    margin-bottom: 5%;*/
/*    width: 200px;*/
/*    height:auto;*/
/*    float: left;*/
/*}*/

/*.about_coffee_img{*/
/*    display: inline;*/
/*    margin-right:10%;*/
/*    float: right;*/
/*}*/

